@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 10;
}

.showcase {
    position: relative;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 100px;
    color: white;
    transition: right 0.8s ease-in-out;
}

.showcase.active {
    right: 300px;
}

.toggle {
    background-image: url("assets/menu.png");
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.toggle.active {
    background-image: url("assets/close.png");
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 30;
}

.navbar h2 {
    text-transform: uppercase;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #a9d7ec;
    mix-blend-mode: overlay;
    z-index: 20;
}

.heading {
    position: relative;
    z-index: 30;
    color: rgb(255, 115, 0);
}

.heading h1 {
    font-size: 5em;
    line-height: 1;
    font-weight: 800;
}

.heading h2 {
    font-size: 4em;
    line-height: 1;
    font-weight: 700;
}

.heading p {
    font-size: 18px;
    max-width: 700px;
    margin: 20px 0;
}

.heading a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s;
    border-radius: 30%;
}

.heading a:hover {
    letter-spacing: 6px;
}

.social ul {
    position: relative;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    z-index: 30;
}

.social img {
    width: 50%;
    filter: invert(1);
}

.social li {
    transition: transform 1s;
}

.social li:hover {
    transform: translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.menu ul {
    list-style: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.menu li a:hover {
    color: #03a9f4;
}

@media (max-width: 768px) {
    .showcase {
        padding: 40px 20px;
    }
    .heading h1 {
        font-size: 3em;
    }
    .heading h2 {
        font-size: 2em;
    }
}